<% provide(:title, "About") %>

<h2> About Us </h2>


<div class="row">
  <div class="col-md-8">
      <p>FS Cleaning Services provide high quality cleaning services at affordable rates. We focus our energy into making our clients happy with the services we provide.</p>

      <p>We offer both Domestic house and Contract cleaning services. With our domestic service we can provide one-off, weekly or monthly cleaning of private or rented houses in Dublin city and surrounding areas.</p>

      <p>With our contract office services you can be assured that your premises will be impeccably maintained and will reflect the professional image you wish to project to your clients and employees. Our Pub and Restaurant services are excuted whilst the business is closed to the public keeping disruptment levels to  minimun for your clients.</p>

      <p>Initial or re-renting houses service. Just got your new house or need to get your property ready to rent out? We do a deep clean service and give it back to you ready to move in.

      <p> We can provide other services such as Gardening services, Window and Carpet cleaning. Have a query? Then give us a call and we can discuss with you any service proposals you may have.</p>

      <p>Check out our specialized floor stripping service on our Gallery page</p>

      <h3>Call us for a quote: 085 838 1172</h3>

      <H2> Check out what our clients have to say about us </H2>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Sweeneys Testimonial
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            "Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor."

            <h4> 1st August 2015</h4>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Quinns Drumcondra Testimonial
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            "Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident."

            <h4>15th March 2015</h4>

          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Clarendon bar Testimonial
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
             "Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS."

             <h4>19th November 2014</h4>
          </div>
        </div>
      </div>
    </div> <!-- accordian close -->            
  </div> <!-- close of col -->


  <div class="col-md-4 text-center">
    <img src="/assets/floor-stripping-clean.JPG" class="about-image">
    <h2>FS Cleaning Services</h2>
    <p>Your first choice when it comes to cleaning your house or business.</p>
    <a href="mailto:info@fscleaning.ie?Subject=Cleaning%20Query" target="_top" class="btn btn-warning btn-lg">Send us a Mail</a>
  </div>

</div> <!-- close of row -->
