<% provide(:title, "Gallery") %>
<h2>FS Cleaning Gallery</h2>
<p> Lorem ipsum dolor sit amet, ex duo lorem dicta. Vel legere omnesque principes an. Consequat inciderint dissentiet has an. Ex salutandi torquatos ius, et usu primis accusam oporteat.

Ut commodo perpetua cum, et pri recusabo inciderint scriptorem, et qui amet facilisis. No aperiri fuisset nominavi eum, ut nec inermis adolescens repudiandae. Utroque mnesarchum efficiantur vis no, ne vix doming possit deleniti. Exerci labitur alienum ne sea. Quas epicurei pertinacia pri at, vix referrentur.
</p>

<hr>
<%= render 'layouts/gallery' %>

<div class="col-md-12 text-center">
	<a href="mailto:info@fscleaning.ie?Subject=Request%20for%20Free%20Quote" target="_top"</a> <button type="button" class="btn button">Get a Free Quote</button>
	<hr>
</div>
