<div class="row padding">
  <div class="col-md-12 text-center">
  <h2>Our Clients </h2>
  </div>
</div>

<div class="row padding text-center">
  <div class="col-md-6">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h3 class="panel-title">Mercentile, Dame street</h3>
      </div>
      <div class="panel-body no-padding blue-border">
        <img class="img-square center-block" src="assets/mercentile.JPG" alt="Generic placeholder image" width="100%" height="100%" >      
      </div>
    </div><!-- /.panel heading -->
    
  </div><!-- /.col-lg-6 -->
    <div class="col-md-6">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h3 class="panel-title">J.W. Sweetmans, Burgh Quay</h3>
      </div>
      <div class="panel-body no-padding blue-border">
        <img class="img-square center-block" src="assets/sweetmans.jpg" alt="Generic placeholder image" width="100%" height="100%">     
      </div>
    </div><!-- /.panel heading -->
    
  </div><!-- /.col-lg-6 -->
</div>