<div class="row padding">
  <div class="col-md-12 text-center">
  	<h2>Give us a call and we will be happy to answer any questions you may have.</h2>
  </div>

<div class="row">
   <div class="col-xs-12 col-sm-6 col-lg-8">
  		<img src="/assets/floor-stripping-before.JPG" class="contact-image">
  	</div>
  	<div class="col-xs-6 col-lg-4">
  		<h3> Contact us </h3>
  		<h4>Address</h4>
				<p>15 Cian Park<br>
				Drumcondra<br>
				Dublin 9<br>

				<h4>Email</h4>

				<a href="mailto:info@fscleaning.ie?Subject=Request%20for%20Free%20Quote" target="_top">info@fscleaning.ie</a>

				<h4>Phone</h4>
				+353 85 838 1172</p>
  	</div>
</div> <!-- end contact row -->
 