<hr>
<div id="bootstrap-overrides-foot">
	<div class="footer-links">
		<a href="/">Home  </a>
		|
		<a href="pages/about.html">About  </a>
		|
		<a href="pages/gallery.html">Gallery  </a>
		|
		<a href="pages/contact.html">Contact Us  </a>
	</div>
	<div class="footer-links-icons">
		<h5> Follow us </h5> 
		<span class="fa-stack fa-lg">
		  <a href="https://www.facebook.com/fscleaningservice"><i class="fa fa-square-o fa-stack-2x"></i></a>
		  <a href="https://www.facebook.com/fscleaningservice"><i class="fa fa-facebook fa-stack-1x"></i></a>
		</span>
		 <span class="fa-stack fa-lg">
		  <a href="https://www.twitter.com"><i class="fa fa-square-o fa-stack-2x"></i></a>
		  <a href="https://www.twitter.com"><i class="fa fa-twitter fa-stack-1x"></i></a> 
		</span>
	</div>

	<div class="container">
		<div class="panel panel-default">
		    <div class="panel-body">Fabio Cleaning Services Limited © 2015</div>
		 </div>
	</div>
</div>