<div class="row">
	<div class="col-md-3 col-sm-4 col-xs-6">
		<img class="img-responsive gallery" src="/assets/floor-stripping1.JPG" />
	</div>
  <div class="col-md-3 col-sm-4 col-xs-6">
  	<img class="img-responsive gallery" src="/assets/floor-stripping2.JPG" />
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6">
  	<img class="img-responsive gallery" src="/assets/floor-stripping3.JPG" />
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6">
  	<img class="img-responsive gallery" src="/assets/floor-stripping4.JPG" />
  </div>
 	<div class="col-md-3 col-sm-4 col-xs-6">
 		<img class="img-responsive gallery" src="/assets/floor-stripping5.JPG" />
 	</div>
  <div class="col-md-3 col-sm-4 col-xs-6">
  	<img class="img-responsive gallery" src="/assets/floor-stripping6.JPG" />
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6">
  	<img class="img-responsive gallery" src="/assets/floor-stripping7.JPG" />
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6">
  	<img class="img-responsive gallery" src="/assets/kitchen-deep-clean1.JPG" />
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6">
    <img class="img-responsive gallery" src="/assets/kitchen-deep-clean2.JPG" />
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6">
    <img class="img-responsive gallery" src="/assets/kitchen-deep-clean3.JPG" />
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6">
    <img class="img-responsive gallery" src="/assets/toilet-deep-clean1.JPG" />
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6">
    <img class="img-responsive gallery" src="/assets/toilet-deep-clean2.JPG" />
  </div>          
</div>