<div class="row padding">
  <div class="col-md-12 text-center">
  <h2>Testimonials </h2>
  <hr>
  </div>
</div>

<div class="container">
  <div class="row padding-bot">
  	<div class="col-xs-2 no-padding blue-border">
	      <img class="img-responsive" src="/assets/sweetmans.jpg" alt="..." width="100%" height="100%">
	  </div>
	  <div class="col-xs-10">
	    <h4 class="media-heading">J.W. Sweetmans <small><i>Posted on January 10, 2014</i></small></h4>
	    "We continue to use FS cleaning service because of the way they conduct their business and the passion they show towards the job"
	  </div>
	</div>
	  <div class="row padding-bot">
  	<div class="col-xs-2 no-padding blue-border">
	      <img class="img-responsive" src="/assets/sweeneys.JPG" alt="..." width="100%" height="100%">
	  </div>
	  <div class="col-xs-10">
	    <h4 class="media-heading">Sweeneys, Dame street <small><i>Posted on September 12, 2015</i></small></h4>
	    "We believe in using the best cleaning service available to us. This is why we choose FS Cleaning to keep our premises looking sharp."
	  </div>
	</div>
</div>
</div>