<div class="row padding">
  <div class="col-md-12 text-center">
  <h2>Our Mission statement </h2>
  <p>Marshmallow cheesecake pudding jelly beans candy canes fruitcake cookie. Soufflé pie jelly lollipop cake bear claw candy canes jelly-o jelly beans. Cheesecake cupcake chocolate. Candy topping sesame snaps. Icing cookie soufflé.</p>
  <hr>
  </div>
</div>