<!-- Three columns of text below the carousel -->
<div class="row padding">
  <div class="col-md-12 text-center">
  <h1>FS Cleaning services provide cleaning solutions for your home and business </h1>
  </div>
</div>


  <div class="row padding text-center">
    <div class="col-md-3 col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">OFFICE</h3>
        </div>
        <div class="panel-body no-padding">
          <img class="img-square center-block" src="assets/office260.jpg" alt="Generic placeholder image" width="100%" height="100%">      
        </div>
      </div><!-- /.panel heading -->
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-3 -->

    <div class="col-md-3 col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">HOME</h3>
        </div>
        <div class="panel-body no-padding">
          <img class="img-square center-block" src="assets/home260.jpg" alt="Generic placeholder image" width="100%" height="100%">
        </div>
      </div><!-- /.panel heading -->
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-3 -->

    <div class="col-md-3 col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">PUB</h3>
        </div>
        <div class="panel-body no-padding">
          <img class="img-square center-block" src="assets/pub260.jpg" alt="Generic placeholder image" width="100%" height="100%">      
        </div>
      </div><!-- /.panel heading -->
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-3 -->

    <div class="col-md-3 col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">RESTAURANT</h3>
        </div>
        <div class="panel-body no-padding">
          <img class="img-square center-block" src="assets/restaurant260.jpg" alt="Generic placeholder image" width="100%" height="100%">      
        </div>
      </div><!-- /.panel heading -->
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-3 -->

  </div><!-- /.row -->

<div class="row padding">
  <div class="col-md-12 text-center">
  <h2>Our Services </h2>
  <p>Chupa chups pudding pie apple pie sweet roll sweet tootsie roll candy candy. Apple pie gingerbread ice cream sesame snaps cupcake pudding chupa chups pie cake.</p>
  <ul class="block-center">
    <h3 class="text-center">Office Cleaning</h3>
    <li>With our Office cleaning services you can be assured that your premises will be impeccably maintained and will reflect the professional image you wish to project to your clients and employees.</li>
    <h3 class="text-center">Home & Garden</h3>
    <li>one-off, weekly or monthly cleaning of private or rented houses in Dublin city and surrounding areas. We offer window and carpet cleaning services. We also provide gardening services.</li>
    <h3 class="text-center">Bar & Restaurant</h3>
    <li>We provide professional cleaning solutions for the Bar and Restaurant industry. We will plan and excute our cleaning strategies during closing times to elimate any distruptions for your business.</li>
  </ul>
  <a href="mailto:info@fscleaning.ie?Subject=Request%20for%20Free%20Quote" target="_top"</a> <button type="button" class="btn button">Get a Free Quote</button>
  <hr>
  </div>
</div>

